[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "middleware-apm"
version = "1.2.4rc4"
description = "Middleware's APM tool enables Python developers to effortlessly monitor their applications, gathering distributed tracing, metrics, logs, and profiling data for valuable insights and performance optimization."
readme = "README.md"
requires-python = ">=3.8"
license = { text = "Apache-2.0" }
authors = [{ name = "middleware-dev" }]
maintainers = [{ name = "middleware-dev" }]
keywords = ["APM", "middleware", "monitoring", "tracing", "metrics", "logs", "profiling"]
dependencies = [
    "distro==1.9.0",
    "opentelemetry-api==1.27.0",
    "opentelemetry-distro==0.48b0",
    "opentelemetry-exporter-otlp-proto-grpc==1.27.0",
    "opentelemetry-instrumentation==0.48b0",
    "opentelemetry-instrumentation-django==0.48b0",
    "opentelemetry-instrumentation-flask==0.48b0",
    "opentelemetry-instrumentation-wsgi==0.48b0",
    "opentelemetry-proto==1.27.0",
    "opentelemetry-sdk==1.27.0",
    "opentelemetry-semantic-conventions==0.48b0",
    "opentelemetry-util-http==0.48b0",
    "PyYAML==6.0.2",
    "requests==2.32.3",
    "tomli==2.0.1",
    "opentelemetry-propagator-b3==1.27.0",
    "opentelemetry-propagator-jaeger==1.27.0",
    "opentelemetry-propagator-aws-xray==1.0.2",
    "opentelemetry-propagator-ot-trace==0.48b0",
    "opentelemetry-propagator-gcp==1.7.0"
]

[project.optional-dependencies]
test = [
    "pyroscope-io==0.8.5",
    "psutil==6.0.0",
    "thrift==0.20.0",
]

[project.urls]
Source = "https://github.com/middleware-labs/agent-apm-python.git"
Homepage = "https://docs.middleware.io/docs/apm-configuration/python"


[project.scripts]
middleware-apm = "middleware.installer:main"
middleware-instrument = "opentelemetry.instrumentation.auto_instrumentation:run"
middleware-bootstrap = "opentelemetry.instrumentation.bootstrap:run"

[tool.setuptools.packages.find]
include = ["scripts", "middleware", "middleware.installer", "middleware.lib"]

[tool.setuptools.package-data]
"*" = ["middleware.ini"]